# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB (Preview) and CockroachDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=""
JWT_ACCESS_SECRET=jd93jd9j394jd93j4j9d39ui4j9
JWT_REFRESH_SECRET=ksn9c3n93ej9jnc93nencneu9348rf93dx9

# MIDTRANS
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_URL=

APP_URL=YOUR_APP_URL